<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiShop</title>

    <!--jquery first, bootstrap later-->
    <base href="~/Content/"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*@Styles.Render("~/Content/css/styles.css")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>
    <div class="container">
        @Html.Partial("_Header")
        @Html.Partial("_Menu")


        <div class="container content">
            <!--<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">

                @*Html.Action("Category", "Home")*@
                @*Html.Action("SaleOff", "Home")*@
                @*Html.Action("Special", "Home")*@
                
                @*Html.Partial("_AdBanner")*@

                
            </div><!--end left-sidebar-->
                @RenderBody()
                
        </div>
         <button class="to-top-btn"><i class="fas fa-chevron-up"></i></button>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="js/main.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("#search").autocomplete({
                source: "/Home/Search",     //Controller/Action
                minLength: 2
            });
        })
    </script>
</body>
</html>

