<div class="navbar navbar-default">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
    </div>


    <div class="navbar-collapse collapse js-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục<span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="/Product/Category?CategoryID=1000">Đồng hồ đeo tay</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1001">Máy tính xách tay</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1002">Máy ảnh</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1003">Điện thoại</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1004">Nước hoa</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1005">Nữ trang</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1006">Mũ</a>
                    </li>
                    <li>
                        <a href="/Product/Category?CategoryID=1007">Balo, vali, túi xách</a>
                    </li>
                </ul>

            </li>

            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản trị<span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Roles", "Index", "Admin")
                        </li>
                        <li>
                            @Html.ActionLink("Sản phẩm", "Index", "Products")
                        </li>
                        <li>
                            @Html.ActionLink("Loại sản phẩm", "Index", "Categories")
                        </li>
                        <li>
                            @Html.ActionLink("Khách hàng", "Index", "Customers")
                        </li>
                        <li>
                            @Html.ActionLink("Nhà cung cấp", "Index", "Suppliers")
                        </li>
                        <li>
                            @Html.ActionLink("Hóa đơn", "Index", "Orders")
                        </li>
                    </ul>
                </li>
            }

        </ul>

        @Html.Partial("_LoginPartial")

    </div>
</div><!--end navigation-->